---
import type { User } from '../../../../../interfaces/User';

import SectionsNavigator from "./SectionsNavigator.astro";
import SectionsContent from './SectionsContent.astro';

interface Props {
    user: User
}

const user = Astro.props.user
---

<main>
    <SectionsNavigator />
    <SectionsContent ></SectionsContent>
</main>