@use "../../colors";

.filter_box {
    display: flex;
    width: 48px;
    height: 45px;

    align-items: center;
    justify-content: center;

    border-radius: 15px;
    background-color: colors.$secondary-light;

    text-align: center;

    margin-left: 0.5rem;
}

.filter_modal {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.292);
    z-index: 4;

    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;

    .filter_modal_container {
        max-width: 430px;
        width: 100%;
        height: fit-content;

        background-color: colors.$light;
        padding: 8px;

        z-index: 57;

        h2 {
            text-align: center;
        }

        h3 {
            color: colors.$dark-sec;
            font-size: 1.1em;
            font-weight: normal;

            text-align: center;

            margin: 1.2rem auto 0.3rem auto;
        }

        .stairs {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1.5em;
            flex-wrap: wrap;

            .star {
                display: flex;
                align-items: center;

                background-color: #E5BD5394;
                padding: 5px;

                border-radius: 5px;

                gap: 0.1rem;

                cursor: pointer;
            }

            .selected {
                background-color: darken(#E5BD5394, 22)
            }
        }

        .distance {
            select {
                background-color: #BF9454A6;
                font-size: 1em;
                color: #4C3404;

                padding: 8px 15px;
                border-radius: 9px;
            }

            label {
                color: colors.$dark-sec;
                font-size: 0.9em;
            }
        }

        .blocky_text {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1.5em;
            flex-wrap: wrap;

            .text {
                background-color: #BF9454A6;
                font-size: 1em;
                color: #4C3404;

                padding: 8px;
                border-radius: 9px;

                cursor: pointer;
            }

            .selected {
                background-color: lighten(#BF9454A6, 22)
            }
        }

        .value_inputs {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1rem;

            label {
                color: colors.$dark-sec;
                font-size: 0.9em;
            }

            input {
                background-color: #AFAFAF30;
                padding: 8px 8px;

                border-radius: 5px;
                width: 100%;
                max-width: 100px;
            }

        }

        .week_days {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1rem;
            flex-wrap: wrap;

            .week_day {
                background-color: #2A9F62BA;
                color: #044C3E;

                padding: 6px 10px;
                border-radius: 9px;

                font-weight: bold;
                cursor: pointer;
            }

            .selected {
                background-color: darken(#2A9F62BA, 8)
            }
        }

        .confirm_btn {
            display: block;

            margin-top: 1.5rem !important;
            padding: 8px 10px;
            
            border: none;
            border-radius: 8px;

            font-size: 1em;
            background-color: colors.$primary-dark;
            color: colors.$light;

            cursor: pointer;

        }

        .centered {
            width: fit-content;
            max-width: 100%;

            margin: auto;
        }
    }
}