$group1_color_1: #044C3E;
$group1_color_2: #01794B;
$group1_color_3: #2A9F62;
$group1_color_4: #A7BF54;

$group2_color_1: #4C1504;
$group2_color_2: #791701;
$group2_color_3: #9F312A;
$group2_color_4: #BF6154;

$group3_color_1: #043B4C;
$group3_color_2: #016379;
$group3_color_3: #2A8A9F;
$group3_color_4: #54B2BF;

$group4_color_1: #4C3404;
$group4_color_2: #794901;
$group4_color_3: #9F7E2A;
$group4_color_4: #BF9454;

$dark_1: #090909;
$dark_2: #1D1D1D;
$dark_3: #1E232C;

$mid_1: #585858;

$lightest: #FFFF;
$light_1: #AFAFAF;

$dark_sec: #353535