---
import type { Product } from "../../../../../interfaces/Product";
import { Image } from "astro:assets";
import star from "../../../../../assets/star.svg";

interface Props {
    rate: {
        rating: number,
        quantity: number
    }
}

const rate = Astro.props.rate
---

<div class="rating on_end">
    <Image
        src={star} width={16} height={16} alt="Imagem de uma estrela ilustrando as avaliações"
    />
    <p>{rate.rating} ({rate.quantity})</p>
</div