@use "../../colors";

.filter_box {
    display: flex;
    width: 48px;
    height: 45px;

    align-items: center;
    justify-content: center;

    border-radius: 15px;
    background-color: colors.$secondary-light;

    text-align: center;

    margin-left: 0.5rem;
}

.filter_modal {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.292);
    z-index: 4;

    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;

    .filter_modal_container {

        max-width: 430px;
        width: 100%;
        height: fit-content;

        background-color: colors.$light;

        z-index: 57;

        h2 {
            text-align: center;
        }

        h3 {
            color: colors.$dark-sec;
            font-size: 1.1em;
            font-weight: normal;

            text-align: center;

            margin: 0.5rem auto 0.5rem auto;
        }

        .stairs {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1.5em;
            flex-wrap: wrap;

            .star {
                display: flex;
                align-items: center;

                background-color: #E5BD5394;
                padding: 5px;

                border-radius: 5px;

                gap: 0.1rem;
            }
        }

        .distance {
            select {
                background-color: #BF9454A6;
                font-size: 1em;
                color: #4C3404;

                padding: 8px 15px;
                border-radius: 9px;
            }

            label {
                color: colors.$dark-sec;
                font-size: 0.9em;
            }
        }

        .blocky_text {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1.5em;
            flex-wrap: wrap;

            .text {
                background-color: #BF9454A6;
                font-size: 1em;
                color: #4C3404;

                padding: 8px;
                border-radius: 9px;
            }
        }

        .centered {
            width: fit-content;
            max-width: 100%;

            margin: auto;
        }
    }
}