---
import Star from "../../../../assets/star.svg";
import Staroff from "../../../../assets/star_off.svg";

import { Image } from "astro:assets";

interface Props {
    stars: number
}

const stars_number = Astro.props.stars
const stars = new Array(5).fill(0)
---

{
    stars.map((_, i) => (
        <div class="star">
            <Image
                src={i > Math.floor(stars_number) ? Staroff : Star}
                alt="Estrela"
                width={16}
                height={16}
            />
        </div>
    ))
}