---
import "@styles/pages/users/product.scss";

import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/pages/users/products/header/Header.astro";
import Body from "@components/pages/users/products/body/Body.astro";

import APIWrapper, { RequestAPIFrom } from "@HortalinkAPIWrapper";

const api = new APIWrapper(RequestAPIFrom.Server)

const { user_id, product_id } = Astro.params
const session = Astro.cookies.get("session_id")

const product = await api.getProduct(Number(user_id), Number(product_id), session.value)
---

<BaseLayout>
    <Fragment slot="head">
        <title>Tela do produto</title>
    </Fragment>
    <Fragment slot="body">
        <Header product={product} />
        <div class="line" style="max-width: 490px;" />
        <Body product={product} />
    </Fragment>
</BaseLayout>