---
import "@styles/pages/home/search/searchpage/commontags.scss";
---

<div class="common_tags">
    <div class="tag">
        Segunda
    </div>
    <div class="tag">
        07:00 - 19:00
    </div>
    <div class="tag">
        45km
    </div>
</div>