---
import "@styles/pages/home/search/searchbar.scss";
---

<section class="searchbar_container">
    <div class="input">
        <input type="text" placeholder="Procurar por..." />
        <div class="search_icon">
            <img
                src="/assets/search.svg"
                alt="Ícone de lupa. Não é necessário clicar, apenas digite que a pesquisa é feita automaticamente."
                width="19"
                height="19"
            />
        </div>
    </div>
    <div class="icon">
        <img
            src="/assets/bell.svg"
            alt="Ícone de sino na cor verde. Clique para visualizar notificações."
            width="28"
            height="28"
        />
    </div>
    <div class="icon">
        <img
            src="/assets/comments-home.svg"
            alt="Ícone de comentários na cor verde. Clique para visualizar seus chats."
            width="28"
            height="28"
        />
    </div>
</section>