---
import { Image } from 'astro:assets'
import Star from "../../../../../assets/star.svg";

interface Props {
    rating: number,
    rating_quantity: number
}

const rating = {
    ...Astro.props
}
---

<section class="rating">
    <Image
        src={Star}
        alt="Ícone de estrela. Ao lado estão, respectivamente: avaliação média (entre 1 e 5) e número de avaliações totais do vendedor."
        width={16}
        height={16}
    />
    <p>{rating.rating}</p>
    <p>({rating.rating_quantity})</p>
</section>