@use "../../colors";

@mixin flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    text-align: center;
    margin: 2rem auto 0 auto;

    width: 100%;

    h1 {
        font-size: 1.45em;
    }
}

.border {
    width: 90%;
    max-width: 480px;

    height: 2px;
    background-color: #AFAFAF73;
    
    margin: auto;
    margin-top: 1.3rem;
    margin-bottom: 2rem;
}

.cart-container {
    width: 100%;
    margin-bottom: 2.5rem;

    .header {
        display: grid;
        align-items: center;
        justify-content: center;

        grid-template-columns: 1.05fr 1fr;

        grid-template-areas: "see";

        max-width: 378px;
        margin: auto;

        .info {
            @include flex-all-center();
            gap: 1rem;

            .image {
                max-width: 53px;
                width: 100%;
                height: 100%;
                max-height: 54px;
                object-position: center;

                overflow: hidden;
                border-radius: 50%;

                img {
                    object-fit: cover;
                }
            }

            h2 {
                font-size: 1.2em;
                text-transform: capitalize;
            }
        }

        .see-profile {
            justify-self: end;
        }
    }

    .content {
        padding: 5px;

        margin-top: 2rem;

        .products {
            @include flex-column();
            align-items: center;
            gap: 2rem;
            margin-bottom: 2rem;

            .product_data {
                display: grid;
                grid-template-columns: 45px 250px 200px;
                place-items: center;
                justify-content: center;
            
                .checkbox {
                    width: 25px;
                    height: 25px;
                }

                .product {
                    display: flex;
            
                    flex-direction: row;
                    gap: 1rem;
            
                    img {
                        object-fit: cover;
                        border-radius: 8px;
                    }
        
                    h2 {
                        font-size: 1rem;
                        text-transform: capitalize;
                    }
        
                    .product_infos {
                        display: flex;
                        flex-direction: column;
                        gap: 0.1rem;
        
                        margin-top: 0.3rem;
                        margin-bottom: 0.6rem;
        
                        p {
                            font-size: 0.85em;
                            font-weight: 500;
                        }
                    }
        
                    .price_label {
                        font-size: 0.7em;
                    }
                    .price {
                        color: colors.$primary-dark;
                        font-weight: bold;
                        font-size: 1.05em;
                    }
                }

                .order_specs {
                    overflow: hidden;

                    input {
                        width: 145px;
                        height: 30px;
                        background-color: colors.$primary-dark;
                        color: colors.$light;

                        border-radius: 18px;
                        padding: 4px;

                        font-size: 0.8em;
                        font-weight: 600;
                        font-family: 'Roboto', sans-serif;;
                    }

                    .amount {
                        @include flex-all-center();
                        gap: 1rem;

                        font-size: 1.1em;
                        margin-top: 2em;

                        .button {
                            padding: 0px;
                            line-height: 0px;
                            text-align: center;
                            color: colors.$dark;
                            font-size: 1.2em;

                            width: 22px;
                            height: 22px;
                            background-color: colors.$secondary-light;
                        }
                    }
                }

                @media screen and (max-width: 500px) {
                    grid-template-columns: 0.2fr 1fr;

                    .order_specs {
                        grid-column-start: 2;
                        grid-column-end: 2;

                        display: flex;

                        align-items: center;
                        justify-content: center;
                        gap: 1rem;

                        margin-top: 0.5rem;
                    
                        .amount {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}