---
import "../style/global.scss";
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <slot name="head" />
</head>
<body>
    <div id="site-container">
        <slot name="body" />
    </div>
</body>