---
import "@styles/global.scss";

import ClientNavbar from "@components/ClientNavbar.astro";

interface Props {
    no_nav?: boolean
}

const nonav = Astro.props?.no_nav
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <slot name="head" />
</head>
<body>
    <div id="site-container">
        {
            !nonav && <ClientNavbar />
        }
        <slot name="body">
    </div>
    <script>
        import Session from "@stores/Session";
        import APIWrapper, { RequestAPIFrom } from "@HortalinkAPIWrapper";

        const wrapper = new APIWrapper(RequestAPIFrom.Client)

        wrapper.getCurrentSession().then(data => {
            Session.set(data)
        }).catch(e => {
            Session.set(undefined)
        })
    </script>
</body>