---
import getUser from "../util/getUser";
import { Image } from "astro:assets";

import "../style/pages/users/user.scss";

interface Props {
    userid?: string
}

const props = Astro.props
let user_data = null

if(props.userid) {
    // lógica para pegar usuário externo
} else {
    const session_id = Astro.cookies.get("session_id")
    user_data = session_id?.value ? await getUser(session_id.value) : null    
}

export const prerender = false
---

<header>
    <section class="profile-section">
        <div>
            <div class="img-container">
                <Image
                    src={`http://localhost:5767/avatars/${user_data.user.id}/${user_data.user.avatar}.png?size=128`}
                    alt="imagem"
                    width={93}
                    height={93}
                />
            </div>
            <p style="font-weight: bold; color: black">{user_data.user.name}</p>
        </div>
        <section class="insights">
            <div>
                <p><strong>5</strong></p>
                <p>Produtos</p>
            </div>
            <div>
                <p><strong>5</strong></p>
                <p>Seguidores</p>
            </div>
        </section>
    </section>
    <section class="user-bio">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates minima explicabo cupiditate corrupti rerum porro nihil.</p>
    </section>
    <a class="edit-profile" href="@me/edit">Editar Perfil</a>
</header>