@use "../../../colors";

@mixin flex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_global_container {
    width: 100%;
    max-width: 401px;

    margin: auto;

    .searchbar_container {
        @include flex();
        gap: 1.3rem;
    
        width: 100%;
        margin-top: 1rem;
    
        .input {
            @include flex();
            width: 100%;
            max-width: 311px;
            
            input[type=text] {
                width: 100%;
                max-width: 311px;
        
                padding: 15px 16px;
                border-radius: 13px 0 0 13px;
                background-color: adjust-color(colors.$light_1, $alpha: -0.75);
        
                &::placeholder {
                    font-weight: 600;
                    color: colors.$mid_1;
                }
            }
    
            .search_icon {
                @include flex();
                
                border-radius: 0 13px 13px 0;
                background-color: adjust-color(colors.$light_1, $alpha: -0.75);
                height: 46px;
                padding: 0 15px;
            }
        }

        .icon {
            cursor: pointer;
        }

        .filter_icon {
            background-color: adjust-color(colors.$light_1, $alpha: -0.75);
            
            padding: 7px 12px;
            border-radius: 13px;

            max-height: 46px;

            img {
                transform: translateY(2px);
            }
        }
    }
    
    .results_selector {
        @include flex();
        align-items: start;
        flex-direction: column;

        position: absolute;
        background-color: #f2f2f2;

        width: 100%;
        max-width: 401px;

        text-transform: capitalize;

        div {
            width: 100%;

            padding: 12px;
            font-size: 0.9em;

            border-radius: 8px;

            &:hover {
                background-color: adjust-color($color: #f2f2f2, $lightness: -10%);
            }
        }
    }
}

.filter_modal {
    position: fixed;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    padding-left: 10px;
    padding-right: 10px;

    background-color: adjust-color($color: colors.$dark_1, $alpha: -0.8);

    z-index: 11;

    .modal_content {
        background-color: colors.$lightest;
        padding: 18px;

        z-index: 12;

        width: 100%;
        max-width: 430px;

        border-radius: 20px 20px 0 0;

        .modal_header {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;

            h2 {
                font-size: 1.3em;
                margin-left: auto;

                transform: translateX(13px);
            }

            .close {
                margin-left: auto;
                object-fit: contain;
            }

            padding-bottom: 8px;
            border-bottom: 1.5px solid scale-color($color: colors.$light_1, $alpha: -45%);
        }

        h2 {
            text-align: center;
        }

        h3 {
            color: colors.$dark-sec;
            font-size: 1.1em;
            font-weight: normal;

            text-align: center;

            margin: 1.2rem auto 0.3rem auto;
        }

        .stairs {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1.5em;
            flex-wrap: wrap;

            .star {
                display: flex;
                align-items: center;

                background-color: #E5BD5394;
                padding: 5px;

                border-radius: 5px;

                gap: 0.1rem;

                cursor: pointer;
            }

            .selected {
                background-color: darken(#E5BD5394, 22)
            }
        }

        .distance {
            select {
                background-color: #BF9454A6;
                font-size: 1em;
                color: #4C3404;

                padding: 8px 15px;
                border-radius: 9px;
            }

            label {
                color: colors.$dark-sec;
                font-size: 0.9em;
            }
        }

        .blocky_text {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1.5em;
            flex-wrap: wrap;

            .text {
                background-color: #BF9454A6;
                font-size: 1em;
                color: #4C3404;

                padding: 8px;
                border-radius: 9px;

                cursor: pointer;
            }

            .selected {
                background-color: lighten(#BF9454A6, 22)
            }
        }

        .value_inputs {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1rem;

            label {
                color: colors.$dark-sec;
                font-size: 0.9em;
            }

            input {
                background-color: #AFAFAF30;
                padding: 8px 8px;

                border-radius: 5px;
                width: 100%;
                max-width: 100px;
            }

        }

        .week_days {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 1rem;
            flex-wrap: wrap;

            .week_day {
                background-color: #2A9F62BA;
                color: #044C3E;

                padding: 6px 10px;
                border-radius: 9px;

                font-weight: bold;
                cursor: pointer;
            }

            .selected {
                background-color: darken(#2A9F62BA, 8)
            }
        }

        .confirm_btn {
            display: block;

            margin-top: 1.5rem !important;
            padding: 8px 10px;
            
            border: none;
            border-radius: 8px;

            font-size: 1em;
            background-color: colors.$group1_color_2;
            color: colors.$lightest;

            cursor: pointer;

        }

        .centered {
            width: fit-content;
            max-width: 100%;

            margin: auto;
        }
    }
}