@use "../../colors";

form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    max-width: 400px;
    width: 100%;
    
    margin: auto;
    margin-top: 15vh;

    padding: 15px;

    img {
        display: block;

        margin: auto;
        margin-bottom: 18px;

        border-radius: 50%;

        max-width: 100%;
        height: auto;
    }

    input[type=text], input[type=password] {
        display: block;

        max-width: 700px;
        width: 100%;

        padding: 9px;
        border-radius: 8px;
    
        background-color: colors.$secondary-light;
        margin: auto;

        transition-duration: 250ms;

        &:focus {
            outline: 1px solid colors.$dark;
            padding: 10px;
        }
    }

    label {
        display: block;
        width: fit-content;
        margin-left: 5px;

        transform: translateY(25%);
        font-size: 0.85em;
    }

    .notransform {
        display: block;
        transform: none;
    }

    .radio-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        padding: 5px;

        gap: 13px;

        .radio-item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            font-size: 1.2em;

            box-shadow: 0px 0px 1px 0px colors.$dark;
            border-radius: 8px;

            flex: 1 1 0;

            gap: 2px;
            padding: 8px;
        }
    }

    button[type=submit] {
        display: block;
        width: 100%;
        
        text-align: center;
        font-size: 1em;

        background-color: colors.$primary;
        color: colors.$light;

        padding: 9px;
        border-radius: 8px;

        margin-top: 18px;

        cursor: pointer;
    }
}