---
import Ratings from "../../../utils/Ratings.astro";

import type { Rating } from "../../../../../../interfaces/Rating";

interface Props {
    ratings: Rating,
    average_rating: number
}

const ratings = Astro.props.ratings
const avg = Astro.props.ratings.rating
---

<section id="ratings_selector_content" hidden="true">
    <h1>Avaliações</h1>

    <Ratings
        ratings={ratings}
        average_rating={avg}
    />
</section>