---
import type { Product } from "../../../../interfaces/Product";
import StoreProductsLayout from "../../../../layouts/pages/user/store/StoreProductsLayout.astro";

interface Props {
    products: Product[]
}

const products = Astro.props.products
console.log(products)
---

<StoreProductsLayout>
    {
        products.map((product) => (
            <div class="product">
                <div class="product_header">
                    <h2>{product.product.product.name}</h2>
                </div>
                <img
                    src={`${import.meta.env.PUBLIC_FRONTEND_CDN_URL}/products/${product.product.product.id}/${product.product.photos[0].replaceAll("%2FD", "â„")}.jpg?size=256`}
                    width="175"
                    height="170"
                />
                <div class="product_footer">
                    <button class="edit">Editar</button>
                    <p>R$ {product.product.price}</p>
                </div>
            </div>
        ))
    }
</StoreProductsLayout>