@use "../../../colors";

.store_products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 1rem;

    .product {
        display: flex;
        flex-direction: column;

        justify-content: center;

        max-width: 205px;
        gap: 0.5rem;

        .product_header {
            h2 {
                font-size: 1.2em;
            }
        }

        img {
            object-fit: cover;
            border-radius: 15px;
        }

        .product_footer {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .edit {
                background-color: colors.$primary-dark;
                color: colors.$light;
                padding: 4px 15px;

                border-radius: 4px;
                font-size: 1em;
            }

            p {
                color: colors.$dark-sec;
                font-size: 1em;
                font-weight: bolder;
            }
        }
    }
}