@use "../../../colors";

.store_header {
    text-align: center;
    margin-top: 2rem;

    h1 {
        font-size: 1.7em;
    }
}

.line {
    background-color: rgba(0, 0, 0, 0.12);
    
    height: 1px;
    
    width: 95%;
    max-width: 460px;

    margin: 1rem auto;
}

.store_main {
    
}