---
import "../style/pages/cart/cart.scss";
import BaseLayout from "../layouts/BaseLayout.astro";

import CartGroup from "../components/page/cart/CartGroup";

import type { RawCart } from "../interfaces/RawCart";
import type { Cart } from "../interfaces/Cart";
import WatchPosition from "../components/util/WatchPosition";
import get_carts from "../api/get_carts";

const session = Astro.cookies.get("session_id")
let data: Cart[] = []

if(session?.value) {
    data = await get_carts(session.value)
} else {
    return new Response("not found", 404)
}

export const prerender = false
---

<BaseLayout page="cart">
    <Fragment slot="head">
        <title>Hortalink | Carrinho do cliente</title>
    </Fragment>
    <Fragment slot="body">
        <header>
            <h1>Carrinho</h1>
        </header>
        <div class="border" />
        <main>
            <CartGroup carts={data} client:load/>
            <WatchPosition
                client:only="react"
            />
        </main>
    </Fragment>
</BaseLayout>