---
import "../style/pages/search/search.scss";

import BaseLayout from "../layouts/BaseLayout.astro";

import SearchMenu from "../components/page/search/SearchMenu";
import SearchMain from "../components/page/search/Search";
import SearchComponent from "../components/page/search/SearchComponent";
import Images from "../stores/Images";
const images = Images.get()

---

<BaseLayout page="search">
    <Fragment slot="head">
        <title>Hortalink | Pesquisar produtos</title>
    </Fragment>
    <Fragment slot="body">
        <SearchComponent
            client:load
            store="products"
            arrow_image_src={images["arrow.svg"]}
            location_image_src={images["location.svg"]}
            star_image_src={images["star.svg"]}
            filter_image_src={images["filter-thin.svg"]}

        />
    </Fragment>
</BaseLayout>