---
import Products from "./Products";
---

<section class="product_section">
    <div class="section_header">
        <h2>Mais pedidos</h2>
        <a href="/" class="more">Ver mais</a>
    </div>
    <Products client:only="react" />
</section>