$light: #f5f3f4;
$darker: #1D1D1D;
$dark: #353535;
$dark-sec: #585858;

$secondary-light: #D9D9D9;
$terciary-light: #AFAFAF;
$mid: #7F8488;

$primary: #5ADA85;
$secondary: #7CDD9D;

$primary-dark: #01794B;

$minimal: rgba(85, 133, 121, 0.03);