@use "../../colors";

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    .background {
        width: 100%;

        height: 218px;
        background-color: colors.$group1_color_2;

        margin: auto;
    }

    .profile_card {
        width: 100%;
        max-width: 392px;

        margin: auto;
        padding: 25px;

        border-radius: 28px;

        transform: translateY(-130px);
        background-color: colors.$lightest;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        margin-bottom: -120px;

        .img_container {
            margin: auto;

            border: 8px solid colors.$lightest;
            
            width: 113px;
            height: 113px;

            border-radius: 50%;

            overflow: hidden;

            transform: translateY(-80px);
            margin-bottom: -80px;

            img {
                object-fit: cover;
            }

            filter: drop-shadow(0px 4.778px 4.778px rgba(0, 0, 0, 0.25));
        }

        h2 {
            text-align: center;
            color: colors.$mid_1;

            font-size: 1.2em;
            margin: 1rem 0;

            text-transform: capitalize;
        }

        .stats {
            @include flex();

            gap: 2rem;

            width: fit-content;
            max-width: 100%;
            margin: auto;
            margin-top: 0.3rem;

            div {
                text-align: center;
                font-weight: 600;

                .title {
                    font-size: 1.3em;
                }
            }
        }
    }
}

main {
    .selector {
        @include flex();
        
        width: fit-content;
        max-width: 100%;

        margin: auto;
        margin-top: 0.5rem;

        border-bottom: 1px solid colors.$light_1;
        gap: 2.5rem;

        p {
            color: colors.$light_1;
            font-size: 1.3em;
            font-weight: 600;

            cursor: pointer;
        }

        .selected {
            color: colors.$group1_color_2;
        }
    }

    .orders {
        @include flex();
        flex-direction: column;

        gap: 0.5rem;
        margin-top: 1rem;

        .order {
            @include flex();
            gap: 0.8rem;

            img {
                display: block;
                width: 100%;
                max-width: 109px;

                border-radius: 8px;
                object-fit: cover;
            }

            .content {
                .seller_name {
                    color: colors.$light_1;
                }

                p {
                    margin: 0.1rem 0;
                }

                .status_ok {
                    padding: 1px 10px;
                    border-radius: 8px;
                    background-color: #2A9F62A6;

                    font-size: 0.95em;

                    color: colors.$group1_color_1;
                    font-weight: 600;

                    width: fit-content;

                }

                .price {
                    margin-top: 1rem;
                    color: colors.$light_1;
                    font-weight: 600;

                    .price_value {
                        color: colors.$dark_1;
                    }
                }
            }
        }
    }
}