---
import "@styles/pages/home/unsigned.scss";

import BaseLayout from "@layouts/BaseLayout.astro";

import Unsigned from "@components/pages/home/Unsigned.astro";
import SignedHome from "@components/pages/home/SignedHome.astro";
---

<BaseLayout>
    <Fragment slot="head">
        <title>Hortalink</title>
    </Fragment>
    <Fragment slot="body">
        <div id="unsigned" hidden>
            <Unsigned />
        </div>

        <div id="home" hidden>
            <SignedHome />
        </div>
    </Fragment>
    <script>
        import Session from "@stores/Session";

        const navbar = document.querySelector<HTMLDivElement>(".navbar_container")
        const Unsigned = document.querySelector<HTMLDivElement>("#unsigned")
        const Home = document.querySelector<HTMLDivElement>("#home")

        const value = Session.get()
        
        if(value) {
            isUnsigned(false)
        } else {
            Session.listen((v) => {
                isUnsigned(v === undefined)
            })
        }

        function isUnsigned(unsigned: boolean) {
            if(unsigned) {
                Unsigned.hidden = false
            } else {
                Home.hidden = false
            }

            navbar.hidden = unsigned
        }
    </script>
</BaseLayout>