---
import "../style/pages/search/search.scss";

import BaseLayout from "../layouts/BaseLayout.astro";

import SearchMenu from "../components/page/search/SearchMenu";
import SearchMain from "../components/page/search/Search";

---

<BaseLayout page="search">
    <Fragment slot="head">
        <title>Hortalink | Pesquisar produtos</title>
    </Fragment>
    <Fragment slot="body">
        <SearchMain
            client:load
            store="products"
        />
    </Fragment>
</BaseLayout>