---
import "@styles/pages/home/unsigned.scss";
---

<section class="cta_buttons">
    <a href="/access/signin" class="primary_btn">
        Entrar
    </a>
    <a href="/access/signup" class="btn">
        Criar conta
    </a>
</section>