---
import type { Product } from "../../../../interfaces/Product"
import Products from "./Products.astro";

const products: Product[] = [
    {
        product: {
            description: "",
            id: 1,
            photos: [],
            price: 12.00,
            product: {
                id: 2,
                name: "Tomate"
            },
            quantity: 1,
            rating: 4,
            rating_quantity: 6,
            unit: "3",
            unit_quantity: 3
        },
        schedules: [
            {
                address: "a",
                day_of_week: 4,
                end_time: "",
                id: 2,
                start_time: ""
            }
        ],
        seller: {
            avatar: "",
            id: 5,
            name: "Sherlock Holmes"
        }
    },
    {
        product: {
            description: "",
            id: 1,
            photos: [],
            price: 12.00,
            product: {
                id: 2,
                name: "Tomate"
            },
            quantity: 1,
            rating: 4,
            rating_quantity: 6,
            unit: "3",
            unit_quantity: 3
        },
        schedules: [
            {
                address: "a",
                day_of_week: 4,
                end_time: "",
                id: 2,
                start_time: ""
            }
        ],
        seller: {
            avatar: "",
            id: 5,
            name: "Sherlock Holmes"
        }
    },
    {
        product: {
            description: "",
            id: 1,
            photos: [],
            price: 12.00,
            product: {
                id: 2,
                name: "Tomate"
            },
            quantity: 1,
            rating: 4,
            rating_quantity: 6,
            unit: "3",
            unit_quantity: 3
        },
        schedules: [
            {
                address: "a",
                day_of_week: 4,
                end_time: "",
                id: 2,
                start_time: ""
            }
        ],
        seller: {
            avatar: "",
            id: 5,
            name: "Sherlock Holmes"
        }
    }
]
---

<header class="store_header">
    <h1>Produtos</h1>
    <div class="line" />
</header>
<main>
    <Products
        products={products}
    />
</main>