---
import BaseLayout from "../../layouts/BaseLayout.astro";
import User from "../../layouts/User.astro";

export const prerender = false
---

<BaseLayout page="user">
    <Fragment slot="head">
        <title>Hortalink perfil</title>
    </Fragment>

    <Fragment slot="body">
        <User />
    </Fragment>
</BaseLayout>