---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/page/user/seller/header/Header.astro";
import Body from "../../components/page/user/seller/body/Body.astro";

import get_user from "../../api/get_user";

const session = Astro.cookies.get("session_id")
const params = Astro.params.user_id

const user_data = await get_user(Number(params), session?.value)
---

<BaseLayout page="user">
    <Fragment slot="head">
        <title>Página do vendedor</title>
    </Fragment>
    <Fragment slot="body">
        <Header user={user_data} />
        <Body user={user_data} />
    </Fragment>
</BaseLayout>