---
import "@styles/pages/sign/form.scss";

import BaseLayout from "@layouts/BaseLayout.astro";

import SignInForm from "@components/pages/sign/SignInForm.astro";
---

<BaseLayout no_nav={true}>
    <Fragment slot="head">
        <title>Hortalink | Login</title>
    </Fragment>
    <Fragment slot="body">
        <SignInForm />
    </Fragment>
</BaseLayout>