---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SigninOptions from "../../components/page/access/SigninOptions.astro";
import Modal from "../../components/util/Modal.astro";

import "../../style/pages/access.scss";

export const prerender = false
---

<BaseLayout page="user">
    <Fragment slot="head">
        <title>Hortalink: signup</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </Fragment>
    
    <Fragment slot="body">
        <form id="form-1">
            <label for="user-email">Email</label>
            <input type="text" id="user-email" name="email" placeholder="email@example.com" aria-label="Escolha um email para sua nova conta.">
            
            <label for="user-password">Senha</label>
            <input type="password" id="user-password" name="password" aria-label="Escolha uma senha segura para sua nova conta.">

            <button type="submit">Login</button>
        </form>
        <p class="alt-text" id="or-text">Ou então</p>
        <SigninOptions />
    </Fragment>
</BaseLayout>

<script is:inline>

    const form = document.querySelector("#form-1")
    let formSubmitButton = document.querySelector("#form-1 button[type=submit]")
    
    let originalButtonColor = formSubmitButton.style.color
    let originalButtonText = formSubmitButton.innerText

    async function wrap() {
        form.addEventListener("submit", (data) => {
            data.preventDefault()

            const formdata = new FormData(form)
            const email = formdata.get("email")
            const password = formdata.get("password")

            if(!email) {
                return displayErrorMessage("Campo de email ausente")
            }

            if(!password) {
                return displayErrorMessage("Campo de senha ausente")
            }

            formSubmitButton = document.querySelector("#form-1 button[type=submit]")

            originalButtonColor = formSubmitButton.style.color
            originalButtonText = formSubmitButton.innerText

            hideAlternativeLogins()
            
            fetch('/api/v1/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include',
                body: JSON.stringify({
                    email,
                    password
                })
            }).then(response => {
                if(response.ok) {
                    window.location.href = "/"
                }
            })
        })
    }

    wrap()

    function hideAlternativeLogins() {
        document.querySelector(".signin-options").style.display = "none"
        document.querySelector("#or-text").style.display = "none"
    }

    function unhideAlternativeLogins() {
        document.querySelector(".signin-options").style.display = "flex"
        document.querySelector("#or-text").style.display = "block"
    }

    function displayErrorMessage(message) {
        formSubmitButton.style.backgroundColor = "red"
        formSubmitButton.innerText = message

        const removeTimeout = setTimeout(() => {
            resetButtonStatus()
            formSubmitButton.onmouseout = null
        }, 5000)

        const removeOnHoverTimeout = setTimeout(() => {
            formSubmitButton.onmouseover = () => {
                resetButtonStatus()
                formSubmitButton.onmouseover = null
                clearTimeout(removeTimeout)
            }
        }, 2000)
    }

    function resetButtonStatus() {
        formSubmitButton.style.backgroundColor = originalButtonColor
        formSubmitButton.innerText = originalButtonText
    }
</script>