---
import Navbar from "@layouts/Navbar.astro";

import Image from "@components/Image";
---

<Navbar>
    <a class="icon" href="/" id="globalnav__home">
        <Image 
            src="/assets/home.svg"
            alt="Ícone de um casa, clique para voltar à página inicial."
            width={26}
            height={26}

            client:load
        />
        <p>Início</p>
    </a>
    <a class="icon" href="/?sec=search" id="globalnav__search">
        <Image 
            src="/assets/search.svg"
            alt="Ícone de uma lupa, clique para ir a página de pesquisa."
            width={26}
            height={26}

            client:load
        />
        <p>Pesquisar</p>
    </a>
    <a class="icon" href="/cart">
        <Image 
            src="/assets/cart.svg"
            alt="Ícone de um carrinho, clique para ver o seu carrinho."
            width={26}
            height={26}

            client:load
        />
        <p>Carrinho</p>
    </a>
    <a class="icon" href="/users/@me">
        <Image 
            src="/assets/user.svg"
            alt="Ícone de um usuário, clique para ver sua conta."
            width={26}
            height={26}

            client:load
        />
        <p>Conta</p>
    </a>
</Navbar>