---
import "../../../../style/pages/users/products/product.scss";

import BaseLayout from "../../../../layouts/BaseLayout.astro";
import Header from "../../../../components/page/user/products/header/Header.astro";
import Body from "../../../../components/page/user/products/body/Body.astro";

import get_product from "../../../../api/get_product";

const { user_id, product_id } = Astro.params
const session = Astro.cookies.get("session_id")

const product = await get_product(Number(user_id), Number(product_id), session.value)
---

<BaseLayout page="user">
    <Fragment slot="head">
        <title>Tela do produto</title>
    </Fragment>
    <Fragment slot="body">
        <Header product={product} />
        <Body product={product} />
    </Fragment>
</BaseLayout>